<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods" thread-count="2">
    <test verbose="2" preserve-order="true" name="C:/Users/Shahab/IdeaProjects/Script/src/test/java/pack1/Athor.java">
        <classes>
            <class name="pack1.Athor">
                <methods>
                    <include name="testTitle"/>
                    <include name="loginTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>